@charset "UTF-8";
/* CSS Document */

table {
	font: 1em Arial, Helvetica, sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	border-bottom-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-top-color: #000;
	border-top-style: solid;
	border-top-width: 0px;
	border-right-color: #000;
	border-right-style: solid;
	border-right-width: 0px;
	border-left-color: #000;
	border-left-style: solid;
	border-left-width: 0px;
}
h1 {
	font: 1.9em Arial, Helvetica, sans-serif, bold;
	margin-top: 1.2em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	border-bottom-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-top-color: #000;
	border-top-style: solid;
	border-top-width: 0px;
	border-right-color: #000;
	border-right-style: solid;
	border-right-width: 0px;
	border-left-color: #000;
	border-left-style: solid;
	border-left-width: 0px;
}

h2 {
	font: 1.4em Arial, Helvetica, sans-serif, bold;
	margin-top: 1.2em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	border-bottom-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-top-color: #000;
	border-top-style: solid;
	border-top-width: 0px;
	border-right-color: #000;
	border-right-style: solid;
	border-right-width: 0px;
	border-left-color: #000;
	border-left-style: solid;
	border-left-width: 0px;
}

h3 {
	font: 1.6em Arial, Helvetica, sans-serif, bold, rgb(153,51,0);
	margin-top: 1.2em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	border-bottom-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-top-color: #000;
	border-top-style: solid;
	border-top-width: 0px;
	border-right-color: #000;
	border-right-style: solid;
	border-right-width: 0px;
	border-left-color: #000;
	border-left-style: solid;
	border-left-width: 0px;
}



bodycopy {
	font: 1em Arial, Helvetica, sans-serif;
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	border-bottom-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-top-color: #000;
	border-top-style: solid;
	border-top-width: 0px;
	border-right-color: #000;
	border-right-style: solid;
	border-right-width: 0px;
	border-left-color: #000;
	border-left-style: solid;
	border-left-width: 0px;
}

footercopy {
	font: Arial, Helvetica, sans-serif;
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	border-bottom-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-top-color: #000;
	border-top-style: solid;
	border-top-width: 0px;
	border-right-color: #000;
	border-right-style: solid;
	border-right-width: 0px;
	border-left-color: #000;
	border-left-style: solid;
	border-left-width: 0px;
	font-size: small;
}